* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* For layouting purpose, use border for all items */
  /* border: 1px solid lightgreen; */
}

body {
  background-color: black;
  color: gray;
  font-family: "Ubuntu", sans-serif;
}

/* Header style */

header {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

header:hover {
  background-color: rgba(95, 21, 21, 0.1);
  transition: 300ms;
}

.branding {
  float: left;
  margin: 10px;
  margin-left: 3vw;
}

.branding a {
  float: left;
  width: 30px;
  height: 30px;
}

.branding p {
  float: right;
  margin: 5px 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  color: limegreen;
}

header li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: bold;
}

header ul {
  float: right;
  margin: 10px;
  margin-right: 5vw;
}

/* Video Background and Name */

#video {
  position: relative;
}

.videoBg1 video {
  width: 100vw;
}
.myName {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 2% 5%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: rgba(0, 0, 0, 0.8);
}

.myName span {
  color: limegreen;
}

/* Social */

.social {
  margin: 5%;
  padding: 1%;
  text-align: center;
  border-radius: 10vw;
}

.social:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}

.socialTag {
  display: inline-block;
  text-align: center;
  margin: 0 3vw;
  color: grey;
  overflow: hidden;
  transition: 300ms;
}

.socialTag:hover {
  transition: 300ms;
  font-size: 0;
}

.socialTag img {
  width: 100px;
  transition: 300ms;
}

.socialTag img:hover {
  width: 120px;
  transition: 300ms;
}

/* Blog */

.container {
  margin: 20px auto 0 auto;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
}

.weekHeader {
  color: darkslategray;
  padding-left: 5%;
  margin: 10px 0;
  font-size: 1.5em;
  margin-bottom: 8vh;
  margin-top: 6vh;
}

.insideImg img {
  width: 250px;
}

.floatLeft {
  float: left;
  margin: 0 2% 0.1% 0;
}

.floatRight {
  float: right;
  margin: 0 0 0.1% 2%;
}

.weekly .paragraph {
  padding: 2% 2% 5% 2%;
  font-family: "PT Serif", serif;
}

.firstParagraph::first-letter {
  font-size: 4.5em;
  float: left;
  margin-right: 0.1em;
  margin-top: 0.1em;
  line-height: 0.5em;
  color: darkslategray;
}

.weekly blockquote {
  font-size: 1.7em;
  text-align: center;
  quotes: "“" "”" "‘" "’";
  font-family: "PT Serif", serif;
  margin: 3% 15%;
  padding: 1%;
  border-radius: 3vh;
  color: darkslategray;
  transform: skew(-20deg, 0deg);
}
blockquote .skewBg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  width: 100%;
  height: 100%;
}
.weekly blockquote::before {
  content: open-quote;
  color: grey;
  font-size: 6em;
  position: absolute;
  top: -50%;
  left: -10%;
}

.weekly blockquote::after {
  content: close-quote;
  color: grey;
  font-size: 6em;
  position: absolute;
  top: 0;
  right: -10%;
}

.subHeader {
  padding-left: 7%;
  font-size: 1.5em;
  color: darkslategray;
  margin-bottom: 3vh;
}

footer {
  text-align: center;
}
